[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ale/Escritorio/Sunrider Mask of Arcadius.desktop]
row=4
col=0

[/home/ale/Escritorio/Insurgency.desktop]
row=2
col=0

[/home/ale/Escritorio/Warplanes WW2 Dogfight.desktop]
row=7
col=0

[/home/ale/Escritorio/Super Bit Blaster XL.desktop]
row=5
col=0

[/home/ale/Escritorio/American Truck Simulator.desktop]
row=3
col=0

[/home/ale/Escritorio/Europa Universalis IV.desktop]
row=1
col=0

[/home/ale/Escritorio/Super Meat Boy.desktop]
row=6
col=0

[/home/ale/Escritorio/XCOM Enemy Unknown.desktop]
row=0
col=0

